# Calva VS Code extension
.calva/

# static analyzer and linter for Clojure code
.clj-kondo/

# classpath cache
# https://clojure.org/reference/deps_and_cli
.cpcache/

# environment variables (automatically loaded by direnv)
.envrc

# Language Server Protocol
.lsp/

# shadow-cljs cache
.shadow-cljs/

# Node.js dependencies
node_modules/

# JS compiled by shadow-cljs
resources/public/js/compiled

# compilation targets (build report, karma)
target/
